@import "normalize";
@import url("https://fonts.googleapis.com/css2?family=Carme&family=Montserrat&display=swap");

// box showdowing from https://codesandbox.io/s/box-shadows-material-ui-refactoring-ui-l2zm8?file=/src/styles.css:847-923

:root {
  font-size: 10px;
}

// font-family:
$Title: "Carme", sans-serif;
$Text: "Montserrat", sans-serif;

// colors
$Primary: #e6e6e6;
$P-Dark: #000000;
$P-Light: #ffffff;

$Secondary: #4082a5;
$S-Dark: #005676;
$S-Light: #73b1d6;

$Accent: #287a6b;
$A-Dark: #004d40;
$A-Light: #5baa99;

body {
  margin: 0;
}

// Container
._ {
  font-family: $Text;
  background-color: $P-Light;
  overflow: hidden;
  justify-items: center;
  height: 100vh;

  display: grid;
  grid-template-columns: minmax(915px, 1fr);
  grid-auto-rows: auto repeat(8, 1fr);
  grid-template-areas:
    "_row-0"
    "_row-1"
    "_row-2"
    "_row-3"
    "_row-4"
    "_row-5"
    "_row-6"
    "_row-7"
    "_row-8";
  position: relative;
  overflow: auto;

  // Header
  ._row-0 {
    grid-area: _row-0;
    // grid-area: 1 / 1 / 2 / 2;
    position: sticky;
    top: 20px;
    z-index: 10;

    width: 100%;

    display: grid;
    grid-template-columns: 280px 600px;
    grid-auto-rows: 50px;
    grid-template-areas: "row-1_col-1 row-1_col-2";
    column-gap: 20px;
    justify-content: space-between;

    // Logo
    ._row-0_col-1 {
      grid-area: row-1_col-1;

      padding: 0.5rem 1.5rem;
      margin-left: 30px;
      border-radius: 50px;
      background-color: $Primary;
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
        0 15px 12px rgba(0, 0, 0, 0.22);

      display: grid;
      place-content: center;

      ._row-0_col-1--link {
        color: $P-Dark;
        text-decoration: none;

        display: grid;
        place-content: center;

        ._row-0_col-1--link_svg {
          ._row-0_col-1--link_svg_color-primary {
            fill: $P-Dark;
          }

          ._row-0_col-1--link_svg_color-secondary {
            fill: $Secondary;
          }

          ._row-0_col-1--link_svg_color-accent {
            fill: $Accent;
          }
        }
      }
    }
    // Nav
    ._row-0_col-2 {
      grid-area: row-1_col-2;

      font-size: 1.7rem;
      margin-right: 30px;

      display: grid;
      grid-template-columns: auto;
      grid-template-areas: "col-1 col-2 col-3 col-4";
      place-items: center;
      justify-items: end;

      // About Me
      ._row-0_col-2--item-1 {
        grid-area: col-1;

        padding: 0.5rem 1.5rem;
        border-radius: 50px;
        background-color: $Primary;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
          0 15px 12px rgba(0, 0, 0, 0.22);

        ._row-0_col-2--item-1_link {
          color: $P-Dark;
          text-decoration: none;
        }
      }

      // My Projects
      ._row-0_col-2--item-2 {
        grid-area: col-2;

        padding: 0.5rem 1.5rem;
        border-radius: 50px;
        background-color: $Primary;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
          0 15px 12px rgba(0, 0, 0, 0.22);

        ._row-0_col-2--item-2_link {
          color: $P-Dark;
          text-decoration: none;
        }

        display: grid;
        place-content: center;
      }

      // Testimonials
      ._row-0_col-2--item-3 {
        grid-area: col-3;

        padding: 0.5rem 1.5rem;
        border-radius: 50px;
        background-color: $Primary;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
          0 15px 12px rgba(0, 0, 0, 0.22);

        ._row-0_col-2--item-3_link {
          color: $P-Dark;
          text-decoration: none;
        }

        display: grid;
        place-content: center;
      }

      // Learn More
      ._row-0_col-2--item-4 {
        grid-area: col-4;

        padding: 0.5rem 1.5rem;
        border-radius: 50px;
        background-color: $Primary;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
          0 15px 12px rgba(0, 0, 0, 0.22);

        ._row-0_col-2--item-4_link {
          color: $P-Dark;
          text-decoration: none;
        }

        display: grid;
        place-content: center;
      }
    }
  }

  // Hero
  ._row-1 {
    grid-area: _row-1;

    display: grid;
    grid-template-columns: 1fr;
  }

  ._row-2 {
    grid-area: _row-2;

    display: grid;
    grid-template-columns: 1fr;

    .title {
      font-size: 1.7rem;
      place-content: center;
    }
  }

  ._row-3 {
    grid-area: _row-3;

    display: grid;
    grid-template-columns: 1fr;

    .title {
      font-size: 1.7rem;
      place-content: center;
    }
  }

  ._row-4 {
    grid-area: _row-4;

    display: grid;
    grid-template-columns: 1fr;

    .title {
      font-size: 1.7rem;
      place-content: center;
    }
  }

  ._row-5 {
    grid-area: _row-5;

    display: grid;
    grid-template-columns: 1fr;

    .title {
      font-size: 1.7rem;
      place-content: center;
    }
  }

  ._row-6 {
    grid-area: _row-6;

    display: grid;
    grid-template-columns: minmax(855px, calc(100vw - 60px));
    grid-template-rows: auto 70vw 70vw;
    place-items: center;
    row-gap: 50px;

    ._row-6--row-1 {
      font-size: 1.7rem;
      place-content: center;
    }

    ._row-6--row-2 {
      width: 100%;
      height: 100%;
      border-radius: 25px;
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
        0 15px 12px rgba(0, 0, 0, 0.22);
    }

    ._row-6--row-3 {
      width: 100%;
      height: 100%;
      border-radius: 25px;
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
        0 15px 12px rgba(0, 0, 0, 0.22);
    }
  }

  ._row-7 {
    grid-area: _row-7;

    display: grid;
    grid-template-columns: 1fr;

    .title {
      font-size: 1.7rem;
      place-content: center;
    }
  }

  ._row-8 {
    grid-area: _row-8;
  }
}
