@import "normalize";
@import url("https://fonts.googleapis.com/css2?family=Carme&family=Montserrat&display=swap");

// box showdowing from https://codesandbox.io/s/box-shadows-material-ui-refactoring-ui-l2zm8?file=/src/styles.css:847-923

:root {
  font-size: 10px;
}

// font-family:
$Title: "Carme", sans-serif;
$Text: "Montserrat", sans-serif;

// colors
$Primary: #e6e6e6;
$P-Dark: #000000;
$P-Light: #ffffff;

$Secondary: #4082a5;
$S-Dark: #005676;
$S-Light: #73b1d6;

$Accent: #287a6b;
$A-Dark: #004d40;
$A-Light: #5baa99;

.link {
  color: $P-Dark;
  text-decoration: none;
}

.container {
  font-family: $Text;
  background-color: $P-Light;
  overflow: hidden;
  margin: 0px 20px;

  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  justify-items: center;

  .header {
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    top: 20px;
    z-index: 10;

    width: 100%;

    display: grid;
    grid-template-columns: minmax(280px, 1fr) 1fr;
    grid-auto-rows: 50px;

    .logo {
      grid-column-start: 1;

      width: 25rem;
      padding: 0.5rem 1.5rem;
      margin-left: 3rem;
      border-radius: 50px;
      background-color: $Primary;
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
        0 15px 12px rgba(0, 0, 0, 0.22);

      display: grid;
      place-content: center;

      .link {
        display: grid;
        place-content: center;

        .svg {
          display: grid;
          place-content: center;

          .fill-1 {
            fill: $P-Dark;
          }

          .fill-2 {
            fill: $Secondary;
          }

          .fill-3 {
            fill: $Accent;
          }
        }
      }
    }
    .nav {
      grid-column-end: 3;

      font-size: 1.7rem;
      margin-right: 3rem;

      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 50px;
      column-gap: 2rem;
      justify-items: end;

      &__about-me {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;

        width: 85px;
        padding: 0.5rem 1.5rem;
        border-radius: 50px;
        background-color: $Primary;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
          0 15px 12px rgba(0, 0, 0, 0.22);

        display: grid;
        place-content: center;
      }

      &__my-projects {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;

        width: 100px;
        padding: 0.5rem 1.5rem;
        border-radius: 50px;
        background-color: $Primary;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
          0 15px 12px rgba(0, 0, 0, 0.22);

        display: grid;
        place-content: center;
      }

      &__testimonials {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;

        width: 100px;
        padding: 0.5rem 1.5rem;
        border-radius: 50px;
        background-color: $Primary;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
          0 15px 12px rgba(0, 0, 0, 0.22);

        display: grid;
        place-content: center;
      }

      &__learn-more {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;

        width: 100px;
        padding: 0.5rem 1.5rem;
        border-radius: 50px;
        background-color: $Primary;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
          0 15px 12px rgba(0, 0, 0, 0.22);

        display: grid;
        place-content: center;
      }
    }
  }

  .hero {
    grid-area: 1 / 1 / 2 / 2;

    display: grid;
    grid-template-columns: 1fr;
  }

  .clients {
    grid-area: 2 / 1 / 3 / 2;

    display: grid;
    grid-template-columns: 1fr;

    .title {
      font-size: 1.7rem;
      place-content: center;
    }
  }

  .about-me {
    grid-area: 3 / 1 / 4 / 2;

    display: grid;
    grid-template-columns: 1fr;

    .title {
      font-size: 1.7rem;
      place-content: center;
    }
  }

  .my-projects {
    grid-area: 4 / 1 / 5 / 2;

    display: grid;
    grid-template-columns: 1fr;

    .title {
      font-size: 1.7rem;
      place-content: center;
    }
  }

  .testimonials {
    grid-area: 5 / 1 / 6 / 2;

    display: grid;
    grid-template-columns: 1fr;

    .title {
      font-size: 1.7rem;
      place-content: center;
    }
  }

  .learn-more {
    grid-area: 6 / 1 / 7 / 2;

    display: grid;
    grid-template-columns: 90vw;
    grid-template-rows: auto 60vw 60vw;
    place-items: center;
    gap: 20px;

    .title {
      font-size: 1.7rem;
      place-content: center;
    }

    .zero-net-energy {
      width: 90%;
      height: 100%;
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
        0 15px 12px rgba(0, 0, 0, 0.22);
    }
  }

  .contact-me {
    grid-area: 7 / 1 / 8 / 2;

    display: grid;
    grid-template-columns: 1fr;

    .title {
      font-size: 1.7rem;
      place-content: center;
    }
  }

  .footer {
    grid-area: 8 / 1 / 9 / 2;
  }
}
