@import "normalize";
@import url("https://fonts.googleapis.com/css2?family=Carme&family=Montserrat&display=swap");

// font-family:
$Title--font-family: "Carme", sans-serif;
$Text--font-family: "Montserrat", sans-serif;

// colors
$Primary: #e6e6e6;
$P-Dark: #000000;
$P-Light: #ffffff;

$Secondary: #4082a5;
$S-Dark: #005676;
$S-Light: #73b1d6;

$Accent: #287a6b;
$A-Dark: #004d40;
$A-Light: #5baa99;
